body {
    background-color: #D4EBEC;
    color: #005EA7;
}

a {
    color: #00ACEB;
}

.top-pic {
    background-image: url('top-pic.jpg');
    height: 60vw;
    background-size: cover;
    background-position: center;
    align-items: center;
}

.top-pic div {
    color: #F5AF7D;
}

.top-pic .title {
    font-size: 7vw;
    font-weight: bold;
    text-align: center;
    padding-top: 5vw;
    padding-bottom: 3vw;
}

.top-pic .sub-title {
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
}

.col {
    margin: 25px 0;
}

.pane {
    background-color: #FFF;
    border: solid 2px;
    border-radius: 4px;
    border-color: #005EA7;
    padding: 18px 10px;
    height: 100%;
}

h2 {
    text-align: center;
    font-size: 6vw;
    font-weight: bold;
    color: #005EA7;
    margin-top: 80px !important;
}

h3 {
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    color: #F5AF7D;
    letter-spacing: 0.1em;
    margin-left: 0.1em;
}

@media (min-width: 1280px) {
    h3 {
        font-size: 64px;
    }
}

table {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    font-size: 17px;
}

th, td {
    height: 45px;
    padding: 14px 0;
}

.work-fig {
    height: 230px;
    background-size: cover;
    cursor: pointer;
    margin: 1px;
    border-radius: 4px 4px 0 0;
}

@media (min-width: 768px) {
    .work-fig {
        height: 200px;
    }
}

figure > a::after {
    content: '';
    display: block;
    height: 1px;
    padding: 0;
    border-bottom: solid 1px #005EA7;
    margin: 0;
}

.work-pic-1 {
    background-image: url('work1-pic.jpg');
}

.work-pic-2 {
    background-image: url('work2-pic.jpg');
}

.work-pic-3 {
    background-image: url('work3-pic.jpg');
}

figure {
    background-color: #FFF;
    border: solid 1px;
    border-radius: 4px;
    padding: 0;
    height: 100%;
}

.work-title {
    font-size: 14px;
    font-weight: bold;
    color: #F5AF7D;
}

figcaption p {
    font-size: 12px;
    margin: 11px
}

svg {
    width: 5vw;
    height: 5vw;
    vertical-align: baseline;
    fill: #F5AF7D;
}

.contact-link {
    text-align: center;
    margin: 40px 0;
}

.twitter {
    color: #FFF;
    background-color: #1DA1F2;
    padding: 4px;
    border: solid 1px #008CDD;
    border-radius: 3px;
    text-decoration: none !important;
}

.twitter svg {
    width: 1rem;
    height: 1rem;
    fill: #FFF;
    vertical-align: baseline;
}
