html {
    font-size: 1vw;
}

@media (min-width: 680px) {
    html {
        font-size: 7px;
    }
}

body {
    background-color: #84C0DA;
    color: #003682;
    font-size: 3.3rem;
}

a {
    color: #005EAC;
}

.col {
    margin: 25px 0;
}

.pane {
    background-color: #D0DEEA;
    border: solid 2px #6F8AA9;
    border-radius: 4px;
    color: #6F8AA9;
    padding: 18px 10px;
    height: 100%;
}

h2 {
    text-align: center;
    font-size: 11rem;
    font-weight: bold;
    color: #EB8EB8;
    margin-top: 11rem !important;
}

h3 {
    text-align: center;
    font-size: 7rem;
    font-weight: bold;
    color: #005EAC;
    letter-spacing: 0.1em;
    margin-left: 0.1em;
}

table {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    font-size: 3.3rem;
}

th, td {
    height: 45px;
    padding: 14px 0;
}

.work-fig {
    height: 350px;
    background-size: cover;
    cursor: pointer;
    margin: 1px;
    border-radius: 4px 4px 0 0;
}

figure > a::after {
    content: '';
    display: block;
    height: 1px;
    padding: 0;
    border-bottom: solid 2px #6F8AA9;
    margin: 0;
}

.lab-pic-1 {
    background-image: url('./government_graph/sample.gif');
}

.lab-pic-2 {
    background-image: url('./station_map/sample.gif');
}

figure {
    background-color: #D0DEEA;
    border: solid 2px #6F8AA9;
    color: #6F8AA9;
    border-radius: 4px;
    padding: 0;
    height: 100%;
}

.work-title {
    font-size: 3rem;
    font-weight: bold;
    color: #003682;
}

figcaption p {
    font-size: 3rem;
    margin: 11px
}

svg {
    width: 9rem;
    height: 9rem;
    vertical-align: baseline;
    fill: #AD9D8F;
}
